[submodule "compiler_design/clexer"]
	path = compiler_design/clexer
	url = git@github.com:asifZaman0362/clexer
[submodule "compiler_design/simple_parser"]
	path = compiler_design/simple_parser
	url = git@github.com:asifZaman0362/parsers.git
