[submodule "compiler_design/clexer"]
	path = compiler_design/clexer
	url = git@github.com:asifZaman0362/clexer
[submodule "compiler_design/simple_parser"]
	path = compiler_design/simple_parser
	url = git@github.com:asifZaman0362/parsers.git
[submodule "mathematics/discrete_structures"]
	path = mathematics/discrete_structures
	url = git@github.com:asifZaman0362/discrete_structures
[submodule "assembly/8085simulator-rs"]
	path = assembly/8085simulator-rs
	url = git@gitlab.com:zero362001/8085simulator-rs
[submodule "graphics/terminal-graphics"]
	path = graphics/terminal-graphics
	url = git@github.com:asifZaman0362/terminal-graphics
[submodule "MinorProject"]
	path = MinorProject
	url = git@github.com:asifZaman0362/MinorProject
